<!-- 
Responsive Image Component
Usage example:
{% include "includes/responsive_image.html" with 
   image_path="/static/img/opportunities/opportunity1",
   image_alt="Opportunity image",
   image_width="600",
   image_height="400",
   css_class="rounded shadow"
%}

Note: image_path should be without file extension
-->
<picture>
  <source
    media="(max-width: 480px)"
    srcset="{{ image_path }}-small.jpg 1x, {{ image_path }}-small@2x.jpg 2x"
    type="image/jpeg"
  >
  <source
    media="(max-width: 768px)"
    srcset="{{ image_path }}-medium.jpg 1x, {{ image_path }}-medium@2x.jpg 2x"
    type="image/jpeg"
  >
  <img
    src="{{ image_path }}-large.jpg"
    srcset="{{ image_path }}-large.jpg 1x, {{ image_path }}-large@2x.jpg 2x"
    alt="{{ image_alt|default('Image') }}"
    loading="lazy"
    width="{{ image_width|default('600') }}"
    height="{{ image_height|default('400') }}"
    class="{{ css_class|default('') }}"
  >
</picture>